@charset "UTF-8";

table{
	width: 260;
}

table,th,td{
	border: 1px solid #bbb;
}

input{
	border-style:none;
}
.box{
	width: 480px;
	border: 10px solid #dddddd;
	margin-bottom: 20px;
	text-align: center;
}